if friends.length
  table.table.table-striped
    each friend in friends
      -var name = [friend.firstname, friend.lastname].join(' ')
      tr
        td
          div(data-status_user_id=friend.id, class=friend.online ? "online" : "")
            img(src="/user/avatar/thumbnail/" + friend.id, width="60", height="60" alt=owner)
        td.vmiddle= name
        td.vmiddle
          if owner
            a.delete-friend(href="#", data-id=friend.id) Удалить
else
  span У Вас пока нет друзей
