extends profile

block container
  .col-sm-3.text-center
    div#avatar-wrapper(class=user.online ? "online" : "")
      img#avatar(src="/user/avatar/"+user.id, alt=name)
    div.text-center
      a#messages(href="/messanger/" + user.username) Написать сообщение
  .col-sm-5
    .panel.panel-default
      .panel-heading
        h1.panel-title Друзья
      .panel-body
        h4 Мои друзья
        #friends
  .col-sm-4
    .panel.panel-default
      .panel-heading#location-status(class=user.located ? "" : "unlocated")
        h1.panel-title Карта
      #map.panel-body(style="height: 300px")
      
block append scripts
  script(type="text/javascript").
    $(function(){
      set_location(my.latitude_last, my.longitude_last, my.located, my.online);
    });
