extends ../layout

block body
    .alert.alert-warning(role="alert")
      | Вам была отправлены ссылка по электронной почте для подтверждения регистрации аккаунта
      | Если вы не получали письмо, мы можем 
      a(href='/reactivate?reactivate=send', title='Отправить письмо для активации пользователя') отправить 
      | его повторно
    
